:host([hidden]) {
    display: none;
}
:host {
  display: block;
  box-sizing: border-box;
  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    content {
      padding: 0.5em;
    }
  }
}
:host([column]) {
  ul {
    flex-direction: column;
  }
}